In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_json('doctoralia-scraper/output.jl', lines=True)
df.shape

(9303, 13)

In [5]:
df.head(5)

   doctor_id  ...          fetch_time
0     804446  ... 2024-02-29 14:55:23
1     197095  ... 2024-02-29 14:55:23
2     756306  ... 2024-02-29 14:55:23
3      55706  ... 2024-02-29 14:55:23
4     794039  ... 2024-02-29 14:55:23

[5 rows x 13 columns]

In [12]:
psiquiatras_sjc = df.filter(['name2','url','city2']).query("city2 == 'sao-jose-dos-campos'")

psiquiatras_sjc.to_csv('data.frame/psiquiatras-sjc.csv', index = False)

In [23]:
df['city2'].value_counts()

city2
sao-paulo                   1329
rio-de-janeiro               680
belo-horizonte               565
curitiba                     366
porto-alegre                 345
                            ...
itaberaba                      1
paraiba-do-sul                 1
anapu                          1
sao-sebastiao-do-paraiso       1
itanhaem                       1
Name: count, Length: 498, dtype: int64

In [14]:
df.groupby('region').describe()

                       doctor_id                 ...           fetch_time
                           count           mean  ...                  max  std
region                                           ...
                          1370.0  257107.693431  ...  2024-08-11 23:19:21  NaN
acre-ac                     12.0  392815.916667  ...  2024-08-11 23:15:53  NaN
alagoas-al                  67.0  605896.552239  ...  2024-08-11 23:19:18  NaN
amapa-ap                     4.0  778058.500000  ...  2024-08-11 23:06:29  NaN
amazonas-am                 31.0  508514.129032  ...  2024-08-11 23:17:42  NaN
bahia-ba                   244.0  593729.909836  ...  2024-08-11 23:19:07  NaN
ceara-ce                   266.0  542528.041353  ...  2024-08-11 23:19:13  NaN
distrito-federal-df        278.0  482727.478417  ...  2024-08-11 23:19:14  NaN
espirito-santo-es          140.0  576757.878571  ...  2024-08-11 23:18:56  NaN
goias-go                   276.0  525415.815217  ...  2024-08-11 23:19:13  NaN
maranhao-ma                 65.0  590052.276923  ...  2024-08-11 23:18:59  NaN
mato-grosso-do-sul-ms       61.0  504312.819672  ...  2024-08-11 23:18:55  NaN
mato-grosso-mt              95.0  501968.852632  ...  2024-08-11 23:18:55  NaN
minas-gerais-mg            934.0  547564.827623  ...  2024-08-11 23:19:18  NaN
para-pa                     59.0  535861.932203  ...  2024-08-11 23:18:41  NaN
paraiba-pb                 104.0  566845.298077  ...  2024-08-11 23:18:21  NaN
parana-pr                  565.0  520143.014159  ...  2024-08-11 23:19:16  NaN
pernambuco-pe              210.0  582511.580952  ...  2024-08-11 23:19:17  NaN
piaui-pi                    72.0  597009.777778  ...  2024-08-11 23:18:47  NaN
rio-de-janeiro-rj          868.0  559731.111751  ...  2024-08-11 23:19:16  NaN
rio-grande-do-norte-rn      79.0  559123.506329  ...  2024-08-11 23:19:17  NaN
rio-grande-do-sul-rs       499.0  529377.549098  ...  2024-08-11 23:19:19  NaN
rondonia-ro                 16.0  724215.500000  ...  2024-08-11 23:18:29  NaN
roraima-rr                   8.0  562615.750000  ...  2024-08-11 23:18:39  NaN
santa-catarina-sc          313.0  502552.460064  ...  2024-08-11 23:19:04  NaN
sao-paulo-sp              2599.0  578922.677568  ...  2024-08-11 23:19:20  NaN
sergipe-se                  45.0  533514.244444  ...  2024-08-11 23:18:10  NaN
tocantins-to                23.0  664039.521739  ...  2024-08-11 23:18:58  NaN

[28 rows x 32 columns]

In [28]:
 
municipio = pd.read_csv("data.frame/municipios.csv", sep='\t')

df = df.merge(municipio, left_on='city1', right_on='municipio')
df['uf2'] = df['uf'].str[-2:]

df.head(5)

MergeError: Passing 'suffixes' which cause duplicate columns {'municipio_x', 'id_ibge_x', 'uf_x'} is not allowed.